{% extends "MyBase.html" %}

{% block title %}Tester GIT{% endblock title %}

{% block content %}
<div class="container">


<h4>Le monde de Dory (Disney)</h4>
<br>

<img src="static/mer.jpeg">
<h6>Dory, le poisson chirurgien bleu amnésique, retrouve ses amis Nemo et Marin. Tous trois se lancent à la recherche du passé de Dory. Pourra-t-elle retrouver ses souvenirs ? Qui sont ses parents ? Et où a-t-elle bien pu apprendre à parler la langue des baleines ?</h6>



<h5>Dory bébé</h5>
<img src="static/babyDory.gif">

<h5>La copine à Dory</h5>
<img src="static/dory.gif">


<h5>Dans GITHUB: Le film explore le passé de Dory, révélant des détails sur son enfance et sur la manière dont sa perte de mémoire affecte sa vie quotidienne. Au cours de son voyage, 
  Dory est aidée par ses amis Marlin et Nemo, ainsi que de nouveaux personnages comme Hank, un poulpe, 
  Bailey, un béluga, et Destiny, un requin baleine </h5>  




</div>







{% endblock content %}









{% block scripts %}
{{super()}}
  <script type="application/javascript" src="/static/app.js"></script>

{% endblock %}






